<a href="https://colab.research.google.com/github/aparna-2001/python_programming_practice/blob/main/python_sem_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* Write a program that checks if a number is greater than 10 and prints "Greater than 10" if true.

In [6]:
def greater_than_10(num):
  if num > 10:
    print('Number is greater than 10')
  elif num == 10:
    print('Number is equal to 10')
  else:
    print('Number less than 10')

Number is greater than 10

* Write a program that checks if a number is even or odd and prints the result.

In [9]:
def even_odd_checker(num):
  if num%2 == 0:
    print('Number is even')
  else:
    print('Number is odd')

Number is odd

* Write a program that checks if a number is positive, negative, or zero and prints the result.

In [13]:
def number_identity(num):
  if num < 0:
    print('Negative')
  elif num > 0:
    print('Positive')
  else:
    print('zero')

Positive
zero
Negative

* Write a program that prints numbers from 1 to 5 using a for loop.

In [14]:
for i in range(1,6):
  print(i)

1
2
3
4
5

* Write a program that prints numbers from 1 to 10 using a while loop.

In [16]:

i = 1
while i < 11:
  print(i)
  i = i+1

1
2
3
4
5
6
7
8
9
10

* Write a program that prints numbers from 5 to 1 using a while loop.

In [18]:
i = 5
while i > 0:
  print(i)
  i = i -1

5
4
3
2
1

* Write a program to find the sum of the first 10 natural numbers using a for loop.

In [25]:
def sum_of_natural_numbers(n):
    sum = 0
    for i in range(n+1):
      sum = sum + i


    return sum

210

* Write a program to print the first 10 natural numbers using a for loop.

In [26]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

* Write a program that prints numbers from 1 to 10 but skips 5 using continue.

In [30]:
for i in range(1,11):
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9
10

* Write a program that prints numbers from 1 to 10 but stops when it reaches 7 using break.

In [31]:
for i in range(1,11):
  if i ==7:
    break
  print(i)

1
2
3
4
5
6

* Write a program where an if statement checks if a number is 100, but does nothing using pass.

In [35]:
num = 100

if num==100:
    pass